{% extends '_base_list.html' %}
{% load i18n %}
{% load static %}

{% block table_head %}
      <thead>
        <tr>
            <th>最后一次构建时间</th>
            <th>发布时间</th>
            <th>APP Name</th>
            <th>项目状态</th>
            <th>构建状态</th>
            <th>操作</th>
        </tr>
      </thead>
{% endblock %}
{% block table_body %}
      <tbody>
      {% for deploy in deploys %}
        <tr>
          <td>{{deploy.last_build_time}}</td>
          <td>{{deploy.published_time}}</td>
          <td>{{deploy.app_name}}</td>
          <td>{{deploy.job_status}}</td>
          <td>{{deploy.get_build_status_display}}</td>
          <td>构建 发布 回滚</td>
        </tr>
      {% endfor %}
      </tbody>
{% endblock %}
{% block custom_foot_js %}
<script>
jQuery(document).ready(function(){
    $('body').on('click', '#deploy-list', function(){
        $.get("{% url 'api-deploy:get_jenkins_all' %}", {}, function(){
            console.log("deploy")
        });
    });
});
</script>
{% endblock %}
