{% extends '_base_list.html' %}
{% load i18n %}
{% load static %}

{% block table_head %}
      <thead>
        <tr>
            <th>最后一次构建时间</th>
            <th>最后一次构建ID</th>
            <th>上一次发布时间</th>
            <th>APP Name</th>
            <th>项目状态</th>
            <th>构建状态</th>
            <th>操作</th>
        </tr>
      </thead>
{% endblock %}
{% block table_body %}
      <tbody>
      {% for deploy in deploys %}
        <tr>
          <td>{{deploy.last_build_time}}</td>
          <td>{{deploy.last_build_num}}</td>
          <td>{{deploy.published_time}}</td>
          <td>{{deploy.app_name}}</td>
          <td>{{deploy.job_status}}</td>
          <td>{{deploy.get_build_status_display}}</td>
          <td id="{{deploy.id}}">
              <a href="javascript:void(0)" class="btn btn-xs btn-info btn-build">构建</a>
              <a href="{% url 'deploy:DeployOptionList' deploy.pk %}" class="btn btn-xs btn-success btn-deploy">发布</a>
              <a href="javascript:void(0)" class="btn btn-xs btn-danger">回滚</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
{% endblock %}
{% block custom_foot_js %}
<script>
jQuery(document).ready(function(){
    //flush deploy list
    $('body').on('click', '#deploy-list', function(){
        $.get("{% url 'api-deploy:get_jenkins_all' %}", {}, function(){
        });
    });

    //build job
    $('body').on('click', '.btn-build', function(){
        var id = $(this).parent().attr("id");
        $.get("{% url 'api-deploy:build_app' %}", {'id':id}, function(result){
            console.log(result)
        });
    });

    $('body').on('click', '.btn-deploy', function(){
      var task_id = $(this).parent().attr("id");
      var the_url = '{% url "api-assets:admin-user-connective" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", task_id);
      var success = function(){
        console.log(task_id)
      };
      APIUpdateAttr({
        url: the_url,
        method: 'GET',
        success: success,
        flash_message: false
      });
    });
});
</script>
{% endblock %}
